aiocache==0.12.3
aiohttp==3.10.9
aiosqlite==0.20.0
async-whisper @ git+https://github.com/DamianB-BitFlipper/async-whisper@main
audioop-lts==0.2.1; python_version >= '3.13'
discord.py==2.4.0
fast-colorthief==0.0.5
ffmpeg-python==0.2.0
numpy==2.1.2
pillow==10.4.0
psutil==6.0.0
pydantic==2.9.2
python-dotenv==1.0.1
yt-dlp[default,curl-cffi]
